body{
    background-color: black;
}
li a, button{
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: black;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 4%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
}
.nav-links{
    list-style: none;
}
.nav-links li{
    display: inline-block;
    padding: 0 10px;
}
.nav-links li a{
    transition: all 0.3s ease 0s;
}
.nav-links li a:hover{
    color: aqua;
}
.order {
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.barang, .data-diri {
    flex: 1;
    padding: 10px;
}

.barang-gambar img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.detail-barang h4, .data-diri h4 {
    color: #333;
    margin-bottom: 10px;
}

.detail-barang p, .data-diri p {
    color: #666;
    margin-bottom: 5px;
}

.barang {
    display: flex;
}

.barang-gambar {
    flex: 1;
    margin-right: 15px;
}

.detail-barang {
    flex: 2;
}

.order:hover {
    background-color: #e9e9e9;
    border-color: #999;
}

h4, p {
    margin: 0;
    font-family: Arial, sans-serif;
}

h4 {
    font-size: 18px;
}

p {
    font-size: 14px;
}

.modal-content {
    border-radius: 10px;
    overflow: hidden;
    text-align: center; 
}

.modal-header {
    color: black;
    padding: 20px;
    text-align: center; 
}

.modal-title {
    font-size: 1.5rem;
}

.btn-close {
    background: transparent;
    border: none;
   
}

.modal-body {
    padding: 20px;
}

.bayar-all {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px;
}

.img-barang img {
    max-width: 100px;
    border-radius: 10px;
    filter: grayscale(100%); 
}

.desc-barang h1, 
.desc-barang p {
    color: black; 
    text-align: center;
}


.data {
    text-align: left; 
    width: 100%;
    margin-top: 20px;
}

.modal-footer {
    border-top: none;
    justify-content: center; 
}
.btn-dark {
    background-color: #000; 
    border: none;
    color: black;
}

.btn-secondary {
    background-color: #555; 
    border: none;
    color: black;
}

.btn-dark:hover, 
.btn-secondary:hover {
    background-color: #fff; 
    color: #000; 
}
